.your-match-container {
    display: flex;
    flex-direction: column;
    /* Align vertically */
    align-items: center;
    /* Align horizontally */
    height: 100vh;
    /* Make the container full height of the viewport */
}

.your-match-title {
    font-size: 18px;
    font-weight: bold;
}

.common-elements-list {
    list-style-type: none;
    padding: 0;
}

.common-element {
    font-size: 16px;
    margin-bottom: 5px;
}

.foodie-couple-image {
    width: 200px;
    /* Removed single quotes */
    height: 200px;
    /* Removed single quotes */
}

.matched-items-container {
    display: flex;
    align-items: flex-start;
    margin: 10px;
}

.chart-container {
    height: 200px;
    width: 200px;
}

.matched-items {
    max-height: 200px;
    overflow-y: auto;
    width: calc(100% - 220px);
}

.matched-items::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
}

.matched-items::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    /* Color of the scrollbar thumb */
    border-radius: 4px;
    /* Radius of the scrollbar thumb */
}

.matched-items::-webkit-scrollbar-track {

    background-color: #ffff;
    /* Color of the scrollbar track */
    border-radius: 4px;
    /* Radius of the scrollbar track */
}

.matched-items ul {
    margin: 0;
    padding: 0;
}

.matched-items li {
    list-style: none;
}

/* Add any other styling as needed */